.tool-line {
  align-items: center;
  border-radius: 0.3em;
  color: var(--dark-03);
  cursor: default;
  display: flex;
  gap: 5px;
  padding: 5px 10px;
  transition: 0.5s;
}

.tool-line.--grey:not(.--hover-effect) {
  background: var(--medium-00--opc-00) !important;
  color: var(--medium-00);
}

.tool-line.--grey.--hover-effect:not(:hover) {
  background: var(--medium-00--opc-00) !important;
  color: var(--medium-00);
}

.tool-line__name {
  font-size: 0.8em;
  margin-block-start: 2px;
}
