.tool-line {
  display: flex;
  padding: 5px 10px;
  border-radius: 0.3em;
  gap: 5px;
  align-items: center;
  transition: 0.5s;
  cursor: default;
}

.tool-line.--grey {
  background: var(--dark-03) !important;
  color: var(--medium-00);
}

.tool-line.--grey.--hover-effect:not(:hover) {
  background: var(--dark-03) !important;
  color: var(--medium-00);
}

.tool-line__name {
  font-size: 0.8em;
  margin-block-start: 2px;
}
