@media screen and (max-width: 600px) {
  .header {
    padding: 0px 20px;
  }

  .header__logo__and__name__logo {
    height: 35px;
    width: 35px;
  }

  .header__logo__and__name__name {
    display: none;
  }

  .header__nav {
    display: flex;
  }

  .header__nav__link {
    font-size: 0.9em;
  }
}
