.dev-tags {
  display: flex;
  gap: 10px;
}

.dev-tags__tag {
  align-items: center;
  border-radius: 0.3em;
  color: var(--dark-00);
  display: flex;
  font-size: 0.6em;
  gap: 5px;
  padding: 3px 5px;
  text-transform: uppercase;
}

.dev-tags__tag.frontend {
  background-color: var(--tag-frontend);
}

.dev-tags__tag.backend {
  background-color: var(--tag-backend);
}

.dev-tags__tag.design {
  background-color: var(--tag-ui-ux);
}

.dev-tags__tag > span {
  margin-block-start: 2.5px;
}
