@keyframes loading {
  0% {
    scale: 0.6;
    transform: rotate(-360deg);
  }
  50% {
    scale: 1;
    transform: rotate(-360deg);
  }
  80% {
    transform: rotate(0);
  }
  100% {
    scale: 0.6;
  }
}

@keyframes messageOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.loading {
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.loading__logo {
  height: 80px;
  animation: loading 2s infinite;
}

.loading__message {
  animation: messageOpacity 0.5s;
}
