.tool-block {
  height: 120px;
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 1px solid var(--dark-03);
}

.tool-block__icon {
  font-size: 1.5em;
}
