.tool-block {
  height: 120px;
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: var(--dark-01);
  border: 1px solid var(--dark-03);
}

.tool-block__name {
  color: var(--medium-00);
}
