.project__main {
  padding: 40px 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.project__main__project {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1em;
  transform: translateY(10px);
}

.project__main__title {
  font-weight: 400;
  font-size: 2.8em;
}

.project__main__title::first-letter {
  text-transform: capitalize;
}

.project__main__tags-dev {
  display: flex;
  gap: 10px;
}

.project__main__tags-dev--tag {
  align-items: center;
  border-radius: 0.3em;
  color: var(--dark-00);
  display: flex;
  font-size: 0.8em;
  gap: 5px;
  padding: 3px 5px;
  text-transform: uppercase;
}

.project__main__tags-dev--tag.frontend {
  background-color: var(--tag-frontend);
}

.project__main__tags-dev--tag.backend {
  background-color: var(--tag-backend);
}

.project__main__tags-dev--tag.design {
  background-color: var(--tag-ui-ux);
}

.project__main__tags-dev--tag > span {
  margin-block-start: 1px;
}

.project__main__description {
  font-size: 1.1em;
  margin-block-start: 1px;
  line-height: 130%;
}

.project__main__carrousel {
  position: relative;
  display: flex;
  align-items: center;
  margin: 40px 0;
}

.project__main__carrousel__arrow {
  position: absolute;
  padding: 10px;
  background-color: var(--dark-03--opc-00);
  border-radius: 0.5em;
  border: none;
  color: var(--medium-01);
  font-size: 1.5em;
  cursor: pointer;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project__main__carrousel:not(:hover) .project__main__carrousel__arrow {
  opacity: 0;
}

.project__main__carrousel__arrow.--prev {
  left: 0;
  border-radius: 0 0.5em 0.5em 0;
}

.project__main__carrousel__arrow.--next {
  right: 0;
  border-radius: 0.5em 0 0 0.5em;
}

.project__main__carrousel__image {
  width: 100%;
}

.project__main__links {
  display: flex;
  gap: 10px;
}

.project__main__links__link {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 0.3em;
  text-decoration: none;
}

.project__main__links__link__icon {
  padding: 2px;
  font-size: 1.3em;
}

.project__main__links__link__text {
  margin-block-start: 1px;
}
