.commit {
  border-radius: 1em;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: default;
}

.commit:not(.--last) {
  opacity: 0.3;
  transition: 0.5s;
}

.commit:not(.--last):hover {
  opacity: 1;
}

.commit.--feat {
  background-color: #80002063;
}

.commit.--fix {
  background-color: #00807563;
}

.commit.--styles {
  background-color: #20537c63;
}

.commit__header {
  display: flex;
  gap: 8px;
  align-items: center;
}

.commit__header__user-image {
  height: 20px;
  border-radius: 50%;
}

.commit__header__date {
  font-size: 0.6em;
}

.commit__details {
  display: flex;
  align-items: center;
  gap: 5px;
}

.commit__details__message {
  font-size: 0.8em;
  text-transform: lowercase;
  margin-block-start: 3px;
}

.commit__details__message::first-letter {
  text-transform: capitalize;
}

.commit__details__icon {
  right: -10px;
  top: -10px;
  font-size: 0.8em;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
