@media screen and (max-width: 600px) {
  .card__skill {
    height: 180px;
    min-width: 160px;
    width: 160px;
    padding: 10px;
    gap: 10px;
    line-height: 100%;
  }

  .card__skill__icon {
    font-size: 1.3em;
  }

  .card__skill__name {
    font-size: 0.8em;
  }

  .card__skill__description {
    font-size: 0.7em;
  }
}
