.card__skill {
  height: 260px;
  min-width: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  gap: 15px;
  color: var(--medium-00);
  line-height: 110%;
  transition: 0.5s;
}

.card__skill__icon {
  font-size: 1.5em;
}
