.projects__main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects__main__first-screen {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  justify-content: center;
  padding-top: 120px;
}

.projects__main__icon {
  font-size: 2.8em;
}

.projects__main__slogan {
  font-size: 3em;
  font-weight: 400;
  width: 500px;
  text-align: center;
}

.projects__main__input__label {
  position: sticky;
  display: flex;
  align-items: center;
  top: 120px;
}

.projects__main__input__label__icon {
  position: absolute;
  font-size: 1.4em;
  left: 10px;
}

.projects__main__input__label__search {
  border: none;
  height: 40px;
  width: 280px;
  outline: none;
  padding: 0 10px 0 40px;
  color: var(--medium-01);
  font-size: 0.9em;
}

.projects__main__input__label__search::placeholder {
  color: var(--medium-00);
}

.projects__main__image {
  width: 100%;
  height: 30vw;
  flex-shrink: 0;
}

.projects__main__image.--dark {
  background: linear-gradient(180deg, transparent 0%, var(--dark-00) 100%),
    url("../../../assets/Meteor.svg"),
    var(--dark-00) 0px 0px / 100% 199.698% no-repeat;
    background-size: cover;
  }

.projects__main__image.--light {
  background: linear-gradient(180deg, transparent 0%, var(--light-00) 100%),
    url("../../../assets/Meteor.svg"),
    var(--light-00) 0px 0px / 100% 199.698% no-repeat;
    background-size: cover;
  }

.projects__main__section-title {
  width: 502px;
  text-align: center;
  font-family: League Spartan;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 40px 0 10px 0;
  width: 80%;
}

.projects__main__search-tags {
  display: flex;
  width: 100%;
  padding: 20px;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.projects__main__cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  width: 100%;
  padding: 20px;
  justify-items: center;
  gap: 40px 20px;
}
