@media screen and (max-width: 600px) {
  .latest-project {
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    align-items: center;
  }

  .latest-project__images {
    justify-content: center;
    min-height: 60vw;
    min-width: 100%;
    transform: translateX(0);
  }

  .latest-project__images__image-0,
  .latest-project__images__image-1,
  .latest-project__images__image-2 {
    height: auto;
    width: 50%;
  }

  .latest-project__details__name {
    font-size: 1.5em;
  }

  .latest-project__details__description,
  .latest-project__details__release,
  .latest-project__details__tags {
    font-size: 0.8em;
  }

  .latest-project__details__link {
    width: 100%;
    text-align: center;
    border: none;
  }

}
