.latest-project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  align-items: center;
  gap: 40px;
  padding: 40px 0;
}

.latest-project__images {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 70%;
  width: 100%;
  transform: translateX(-55px);
}

.latest-project__images__image-0,
.latest-project__images__image-1,
.latest-project__images__image-2 {
  height: 50%;
  position: absolute;
  box-shadow: 0px 10px 40px 0px var(--medium-00--opc-00);
}

.latest-project__images__image-0 {
  z-index: 3;
  transform: translateY(-50px) skew(-30deg, 15deg);
}

.latest-project__images__image-1 {
  z-index: 2;
  transform: skew(-30deg, 15deg);
}

.latest-project__images__image-2 {
  z-index: 1;
  transform: translateY(50px) skew(-30deg, 15deg);
}

.latest-project__details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 360px;
  align-items: flex-start;
}

.latest-project__details__name {
  text-transform: capitalize;
  font-weight: 200;
  font-size: 1.8em;
}

.latest-project__details__name--tag {
  font-size: 0.5em;
  margin-inline-start: 5px;
  text-transform: lowercase;
}

.latest-project__details__description,
.latest-project__details__release {
  line-height: 120%;
}

.latest-project__details__tags {
  font-weight: 300;
  text-transform: lowercase;
}

.latest-project__details__link {
  padding: 8px 35px;
  text-decoration: none;
}

.latest-project__details__link__text {
  font-size: 1em;
}
